.footer {
  width: 100%;
  padding: 20px 40px;
  background: var(--color-white);

  flex-wrap: wrap;
  gap: 20px;

  overflow: hidden;
  
  position: relative;
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(177, 69, 74, 0.05) 0%, transparent 100%);
  z-index: 1;
}

.footer__logo {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--playfair-display);
  text-transform: uppercase;
  color: var(--secondary-color);

  cursor: pointer;
  
  position: relative;
  z-index: 2;
  
  transition: transform 0.3s ease;
}

.footer__logo:hover {
  transform: scale(1.05);
}

.footer__logo span {
  color: var(--primary-color);
}

.footer ul {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 64px;
  
  position: relative;
  z-index: 2;
}

.footer ul:last-child {
  gap: 32px;
}

.footer__nav li {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  text-transform: uppercase;
  color: var(--secondary-color);

  cursor: pointer;
  
  transition: all 0.3s ease;
  position: relative;
}

.footer__nav li::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.footer__nav li:hover {
  color: var(--primary-color);
}

.footer__nav li:hover::after {
  width: 100%;
}

.footer__social li {
  width: 42px;
  height: 42px;

  background-color: var(--secondary-color);
  border-radius: 100%;
  
  transition: all 0.3s ease;
  cursor: pointer;
  
  position: relative;
  z-index: 2;
}

.footer__social li:hover {
  background-color: var(--primary-color);
  transform: translateY(-5px);
}

.footer__social li img {
  width: 45%;
  height: 45%;

  object-fit: contain;
}