.subscription {
  padding: 64px;

  background-color: var(--primary-color);
  background-image: url('../../assets/subscribe_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  flex-direction: column;
  overflow: hidden;
  
  position: relative;
}

.subscription::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(177, 69, 74, 0.8) 0%, rgba(177, 69, 74, 0.9) 100%);
  z-index: 1;
}

.subscription h2 {
  font-size: 88px;
  font-family: var(--playfair-display);
  font-weight: 600;
  line-height: 123px;

  color: #fff;
  text-align: center;
  
  position: relative;
  z-index: 2;
  
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.subscription p {
  font-size: 18px;
  font-family: var(--plus-jakarta-sans);
  font-weight: 300;
  line-height: 36px;

  margin-top: 32px;

  color: rgba(255, 255, 255, 0.8);
  
  position: relative;
  z-index: 2;
}

.subscription__form {
  min-width: 480px;
  margin-top: 40px;

  padding: 14px 14px 14px 24px;

  display: flex;
  gap: 10px;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 46px;
  
  position: relative;
  z-index: 2;
  
  transition: all 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.subscription__form:hover {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.subscription__form input {
  flex: 1;

  font-size:  16px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);

  color: #fff;
  opacity: 0.5;

  background: transparent;
  border: none;
  outline: none;
}

.subscription__form input::placeholder {
  color: #fff;
  opacity: 0.5;
}

.subscription__form input:focus {
  opacity: 1;
}

.subscription__form button {
  padding: 20px;

  min-width: 180px;

  font-size: 16px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
  text-align: center;

  background: var(--black-400);
  border-radius: 46px;
  border: none;
  outline: none;

  cursor: pointer;
  
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.subscription__form button:hover {
  background: #000;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}